extends includes/layout.pug

block vars
  - var title = "Static Suite Data Server"

block content
  h1(class="title is-1")="Static Suite Data Server"
  h2(class="subtitle")="Table of Contents"
  table(class="table is-fullwidth is-hoverable")
    tbody
      each description, link in links
        tr
          td
            a(href=link)= link
          td=description
